<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048377471641-pn7ok6oelgf88e9fi803skt5ofhnqp5c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048377471641-pn7ok6oelgf88e9fi803skt5ofhnqp5c</string>
	<key>API_KEY</key>
	<string>AIzaSyA1plSBdLmNl5rbeK9R8qxK8m9teT1wmPI</string>
	<key>GCM_SENDER_ID</key>
	<string>1048377471641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.virtualpilgrimage.dev</string>
	<key>PROJECT_ID</key>
	<string>virtual-pilgrimage-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>virtual-pilgrimage-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048377471641:ios:0fd0569839737149a1fe08</string>
</dict>
</plist>